<center>
<h1>Bow Tracker</h1>
<nav>
    <a href="/users/<%= current_user.id %>">HOME</a> |
    <a href="/makers">MAKERS</a> |
    <a href="/logout">LOGOUT</a>
</nav>

<h3>Bow Index Page</h3>

</center>

<h4>Click on a Bow to learn more.</h4>
<ul>
    <% @bows_sorted.each do |b| %>
        <li><a href="/bows/<%= b.id %>">A <%= b.instrument %> bow by <%= b.maker.name %></a></li>
    <% end %>

</ul>