<center>
<h1>Bow Tracker</h1>
<nav>
    <a href="/users/<%= current_user.id %>">HOME</a> |
    <a href="/bows">BOWS</a> |
    <a href="/makers">MAKERS</a> |
    <a href="/logout">LOGOUT</a>
</nav>

<h3>Add a Bow to Your Collection</h3><br>


<form method="post" action="/bows">
<p>
    <label>Makers:</label><br>
    <% @makers.each do |maker| %>
        <input type="radio" name="maker" value="<%= maker.id %>" id="<%= maker.name %>"><%= maker.name %><br>
    <% end %>
</p>
<p>
    <label for="instrument">Instrument:</label>
    <input type="text" name="instrument" id="instrument" placeholder="violin/viola/etc...">
    <label for="brand">Brand:</label>
    <input type="text" name="brand" id="brand">
    <label for="year_made">Year Made:</label>
    <input type="text" name="year_made" id="year_made">
</p><br>
<p>   
    <label for="weight">Weight:</label>
    <input type="text" name="weight" id="weight">
    <label for="balance">Balance:</label>
    <input type="text" name="balance" id="balance">
    <label for="strength">Strength:</label>
    <input type="text" name="strength" id="strength">
</p><br>
<p>    
    <label for="length">Length:</label>
    <input type="text" name="length" id="length">
    <label for="shape">Shape:</label>
    <input type="text" name="shape" id="shape">
    <label for="materials">Materials:</label>
    <input type="text" name="materials" id="materials">
</p><br>
<p>
    <label for="notes">Notes:</label>
    <input type="text" name="notes" id="notes">
</p><br>
<p>
    <input type="submit" value="Add Bow">
</p>
</form>
</center>