<center><h1>Bow Tracker</h1><br>
    <h2>Log In</h2><br><br>

    <form method="post" action="/login">
        <p>
            <label>Username:</label>
            <input type="text" name="username"><br><br>
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password"><br><br>
        </p>
        <input type="submit" value="Log In" id="submit">
      </form>
      <br><br>

      Or <br><br>
      <a href="/users/new"><button type="button">Need to Sign Up?</button></a>
      <br><br>


</center>