<center><h1>Bow Tracker</h1><br>
    <h2>Create Your Account</h2><br><br>

<form method="post" action="/signup">
<p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br><br>
</p>
<p>   
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"><br><br>
</p>
<p>    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br><br><br>
</p>
    <input type="submit" value="Sign Up" id="submit">
</form>
</center>