<center>
<h1>Bow Tracker</h1>
<h3>Welcome, <%= @user.username %></h3><br>

<nav>
    <a href="/bows">BOWS</a> |
    <a href="/makers">MAKERS</a> |
    <a href="/logout">LOGOUT</a>
</nav>
</center>

<h3>Your Bows</h3>
<ul>
    <% @user.bows.each do |bow| %>
        <li><a href="/bows/<%= bow.id %>"><%= bow.maker.name %></a></li>
    <% end %>
</ul>
<br>
<a href="/bows/new"><button>Add a Bow</button></a>