<center>
<h1>Bow Tracker</h1>
<nav>
    <a href="/users/<%= current_user.id %>">HOME</a> |
    <a href="/bows">BOWS</a> |
    <a href="/logout">LOGOUT</a>
</nav>

<h3>Makers</h3>

</center>

<ul>
    <% @makers.each do |m| %>
        <li><a href="/makers/#{m.id}"><%= m.name %></a></li>
    <% end %>

</ul>