<center>
<h1>Bow Tracker</h1>
<nav>
    <a href="/users/<%= current_user.id %>">HOME</a> |
    <a href="/bows">BOWS</a> |
    <a href="/makers">MAKERS</a> |
    <a href="/logout">LOGOUT</a>
</nav>

<h2>Fun Facts About Bows</h2>
</center>

<ul>
    <li>Archer comes from the French word "archet" which means "bow."</li><br>
    <li>The French word "baguette" means "stick," which is what the main part of the bow is called.</li><br>
    <li>The part of the bow by your hand that holds the horse hair is called the frog.</li><br>
    <li>The term "brazilwood" refers to any wood that creates a red dye. When Europeans found so much of it in South America, they named the country "Brazil." Bows are made of a specific type of brazilwood called pernambuco.</li>
</ul>