<center>
<h1>Welcome to the Bow Tracker!</h1><br><br>

<a href="/users/new"><button type="button">Sign Up!</button></a>
<br><br>

<p>or</p>
<a href="/users/login"><button type="button">Log In!</button></a>







</center>
