<center>
<h2>Sorry, you're not logged in!</h2>

<a href="/users/new"><button type="button">Sign Up!</button></a>
<br><br>

<p>or</p>
<a href="/users/login"><button type="button">Log In!</button></a>
</center>